*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #dddbff;
  background: url(../images/bg-mobile.png);
  background-size: cover;
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 17px;
  width: 80%;
  width: 300.267px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.first-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 191px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 40px;
  background-color: #1d2c67;
  border-radius: 10px;
  border-top-right-radius: 100px;
}

.first-card .logo {
  width: 57%;
  width: 125.55px;
  height: auto;
  max-width: 100%;
}

.first-card .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 74%;
  width: 163px;
}

.first-card .icons-container .icon {
  height: 44px;
  width: 44px;
  padding: 10px;
  border: none;
  border-radius: 9px;
  background: #0c122c;
}

.second-card {
  position: relative;
  width: 100%;
  height: 145px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 32px;
  background-color: #1d2c67;
  border-radius: 10px;
}

.storage-left-text {
  padding-bottom: 17px;
  white-space: nowrap;
  color: #bbbcc4;
}

.storage-left-text > span {
  font-weight: 700;
  color: #dddbff;
}

.progress-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 41px;
}

.progress-bar-container::after {
  --circle-width: 9px;
  --total-space: 1000;
  --used-space: 815;
  --available-space: (var(--total-space) - var(--used-space));
  position: absolute;
  content: "";
  width: var(--circle-width);
  height: var(--circle-width);
  right: 0;
  top: 3px;
  right: calc( var(--available-space) * (100 / var(--total-space)) * 1% + (var(--circle-width) / 2));
  border-radius: 50%;
  background-color: #dddbff;
  -webkit-animation: animate-circle 1.4s ease-out;
          animation: animate-circle 1.4s ease-out;
}

progress {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 16px;
  border: none;
  border-radius: 24px;
  overflow: hidden;
  background-color: #0c122c;
  -webkit-transform-origin: left;
          transform-origin: left;
}

progress::after {
  --circle-width: 9px;
  --total-space: 1000;
  --used-space: 815;
  --available-space: (var(--total-space) - var(--used-space));
  position: absolute;
  content: "";
  width: var(--circle-width);
  height: var(--circle-width);
  right: 0;
  top: 50%;
  right: calc( var(--available-space) * (100 / var(--total-space)) * 1% + (var(--circle-width) / 2));
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #dddbff;
}

progress::-webkit-progress-bar {
  padding: 2px;
  background-color: #0c122c;
}

progress::-webkit-progress-value {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  -webkit-animation: animate-progress-bar 1.4s ease-out;
          animation: animate-progress-bar 1.4s ease-out;
}

progress::-moz-progress-bar {
  position: relative;
  margin: 2px;
  height: calc(100% - 4px);
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  transform-origin: left;
  animation: animate-progress-bar 1.4s ease-out;
}

.progress-indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

.small-card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  width: 190px;
  height: 63px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -33px;
  background: white;
  color: black;
  border-radius: 10px;
}

.small-card > p {
  position: relative;
  height: 58%;
  font-size: 14px;
}

.small-card > p .space-left-number {
  font-weight: 700;
  font-size: 2rem;
}

.small-card > p .place-left-text {
  position: relative;
  top: -4.5px;
}

@media screen and (min-width: 55em) {
  body {
    background: url(../images/bg-desktop.png) no-repeat;
    background-position: bottom;
    background-size: contain;
    background-size: 100% 50%;
    background-color: #0c122c;
  }
  main {
    width: 65%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 0;
    -webkit-column-gap: 17px;
            column-gap: 17px;
  }
  .first-card {
    width: 37%;
  }
  .second-card {
    width: 63%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .small-card {
    top: -33px;
    right: 40px;
    -webkit-transform: translate(0);
            transform: translate(0);
    left: auto;
  }
  .small-card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 0;
    top: 65%;
    border: 23px solid transparent;
    border-right: 20px solid white;
  }
}

@-webkit-keyframes animate-progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate-progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes animate-circle {
  0% {
    -webkit-transform: translate(-1900%);
            transform: translate(-1900%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animate-circle {
  0% {
    -webkit-transform: translate(-1900%);
            transform: translate(-1900%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */