// VARIABLES

$clr-primary-gradient: linear-gradient(
  to right,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);
$clr-pale-blue: hsl(243, 100%, 93%);
$clr-grayish-blue: hsl(229, 7%, 75%);
$clr-dark-blue: hsl(228, 56%, 26%);
$clr-very-dark-blue: hsl(229, 57%, 11%);

$base-font-size: 14px;
$base-font-family: "Raleway", sans-serif;
$base-font-weight: 400;

$base-border-radius: 10px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;

  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  color: $clr-pale-blue;

  background: url(../images/bg-mobile.png);
  background-size: cover;

  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  width: 300.267px;
  min-height: fit-content;
}

.first-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 191px;
  min-width: fit-content;
  padding: 40px;
  background-color: $clr-dark-blue;
  border-radius: $base-border-radius;
  border-top-right-radius: 100px;

  .logo {
    width: 125.55px;
    height: auto;
    max-width: 100%;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;

    width: 74%;
    width: 163px;

    .icon {
      height: 44px;
      width: 44px;
      padding: 10px;
      border: none;
      border-radius: 9px;
      background-color: $clr-very-dark-blue;

      &:hover,
      &:focus {
        background-color: hsl(229, 26%, 40%);
      }
    }
  }
}

.second-card {
  position: relative;
  width: 100%;
  height: 145px;
  min-width: fit-content;
  padding: 32px;
  background-color: $clr-dark-blue;
  border-radius: $base-border-radius;
}

.storage-left-text {
  padding-bottom: 17px;
  white-space: nowrap;
  color: $clr-grayish-blue;

  > span {
    font-weight: 700;
    color: $clr-pale-blue;
  }
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 41px;

  &::after {
    --circle-width: 9px;
    --total-space: 1000;
    --used-space: 815;
    --available-space: (var(--total-space) - var(--used-space));

    position: absolute;
    content: "";
    width: var(--circle-width);
    height: var(--circle-width);
    right: 0;
    top: 3px;
    right: calc(
      var(--available-space) * (100 / var(--total-space)) * 1% +
        (var(--circle-width) / 2)
    );
    // (Total Space - Used Space) = Available Space
    // Available Space * ( 100 / Total Space ) * 1% = Percentage of Available space
    // Percentage of Available space + ( Half width of the circle ) = Perfectly Positioned Circle
    border-radius: 50%;
    background-color: $clr-pale-blue;

    opacity: 0;
    animation: animate-circle-opacity 0.2s 1.4s ease-out forwards;
  }
}

progress {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 16px;
  border: none;
  border-radius: 24px;
  overflow: hidden;
  background-color: $clr-very-dark-blue;

  transform-origin: left;

  // for chrome. to mask the circle animation
  &::after {
    --circle-width: 9px;
    --total-space: 1000;
    --used-space: 815;
    --available-space: (var(--total-space) - var(--used-space));

    position: absolute;
    content: "";
    width: var(--circle-width);
    height: var(--circle-width);
    right: 0;
    top: 50%;
    right: calc(
      var(--available-space) * (100 / var(--total-space)) * 1% +
        (var(--circle-width) / 2)
    );
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: $clr-pale-blue;
  }

  &::-webkit-progress-bar {
    padding: 2px;
    background-color: $clr-very-dark-blue;
  }

  &::-webkit-progress-value {
    position: relative;
    background-image: $clr-primary-gradient;
    border-radius: 10px;

    animation: animate-progress-bar 1.4s ease-out;
  }
  &::-moz-progress-bar {
    position: relative;
    margin: 2px;
    height: calc(100% - 4px);
    background-image: $clr-primary-gradient;
    border-radius: 10px;
    transform-origin: left;

    transform: scaleX(0);
    animation: animate-progress-bar 1.4s ease-out forwards;
  }
}

.progress-indicator-container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.small-card {
  display: grid;
  place-items: center;

  position: absolute;
  width: 190px;
  height: 63px;
  min-width: fit-content;
  left: 50%;
  transform: translate(-50%);
  bottom: -33px;
  background: white;
  color: black;
  border-radius: $base-border-radius;

  > p {
    position: relative;
    height: 58%;
    font-size: 14px;

    .space-left-number {
      font-weight: 700;
      font-size: 2rem;
    }
    .place-left-text {
      position: relative;
      top: -4.5px;
    }
  }
}

@media screen and (min-width: 55em) {
  body {
    background: url(../images/bg-desktop.png) no-repeat;
    background-position: bottom;
    background-size: contain;
    background-size: 100% 50%;
    background-color: $clr-very-dark-blue;
  }
  main {
    width: 65%;

    flex-direction: row;
    align-items: flex-end;
    row-gap: 0;
    column-gap: 17px;
  }

  .first-card {
    width: 37%;
  }

  .second-card {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  progress {
    &::after {
    }
  }

  .small-card {
    top: -33px;
    right: 40px;
    transform: translate(0);
    left: auto;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      right: 0;
      top: 65%;
      border: 23px solid transparent;
      border-right: 20px solid white;
    }
  }
}

@keyframes animate-progress-bar {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animate-circle-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
